In [1]:
%run imports.ipynb

In [1]:
import pandas as pd

In [8]:
dateparse = lambda x: pd.datetime.strptime(x, '%d-%m-%y')

data15 = pd.read_csv("cpcb_dly_aq_delhi-2015.csv", parse_dates=['Sampling Date'], date_parser=dateparse).drop("Location of Monitoring Station", axis=1).sort_values("Sampling Date")    
data15 = data15[data15["Type of Location"] != "Industrial Area"]

In [10]:
data15["DateMonth"]=data15["Sampling Date"].dt.to_period("M")

In [11]:
data15 = data15.groupby("DateMonth").mean().drop("PM 2.5", axis=1)

In [12]:
data15

             Stn Code        SO2        NO2   RSPM/PM10
DateMonth
2015-01    166.400000   4.200000  59.485714  194.742857
2015-02    161.097561   4.560976  66.829268  209.487805
2015-03    161.195122   4.292683  68.219512  158.365854
2015-04    156.947368   4.868421  66.842105  205.947368
2015-05    169.904762   5.500000  66.761905  182.428571
2015-06    164.886364   5.977273  54.204545  155.613636
2015-07    167.348837   3.904762  44.047619  151.047619
2015-08    167.325581   3.348837  50.744186  138.953488
2015-09    158.785714   3.536585  52.682927  152.268293
2015-10    170.487805   6.731707  70.170732  224.682927
2015-11    163.725000  12.625000  89.500000  293.800000
2015-12    175.590909   5.418605  89.272727  320.522727