In [22]:
%run imports.py

In [ ]:
import pandas as pd

In [32]:
dateparse = lambda x: pd.datetime.strptime(x, '%d-%m-%y')

data14 = pd.read_csv("cpcb_dly_aq_delhi-2014.csv", parse_dates=['Sampling Date'], date_parser=dateparse).drop("Location of Monitoring Station", axis=1).sort_values("Sampling Date")    
data14 = data14[data14["Type of Location"] != "Industrial Area"]

In [33]:
data14["DateMonth"]=data14["Sampling Date"].dt.to_period("M")

In [34]:
data14 = data14.groupby("DateMonth").mean().drop("PM 2.5", axis=1)

In [35]:
data14

             Stn Code       SO2        NO2   RSPM/PM10
DateMonth
2014-01    147.750000  6.250000  53.675000  230.825000
2014-02    181.853659  5.243902  58.390244  193.121951
2014-03    149.534884  7.302326  56.837209  158.904762
2014-04    155.465116  5.976744  68.093023  168.690476
2014-05    178.784314  4.921569  60.156863  172.540000
2014-06    168.277778  4.611111  51.861111  166.771429
2014-07    170.972973  4.594595  45.027027  148.459459
2014-08    163.470588  3.794118  57.647059  174.909091
2014-09    153.906250  4.156250  46.843750  163.833333
2014-10    199.675676  4.621622  49.378378  187.216216
2014-11    165.319149  6.042553  78.212766  259.152174
2014-12    142.642857  5.261905  72.857143  256.073171