In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib notebook

In [2]:

dateparse = lambda x: pd.datetime.strptime(x, '%d/%m/%Y')

import pandas as pd
data12 = pd.read_csv("cpcb_dly_aq_delhi-2012.csv", parse_dates=['Sampling Date'], date_parser=dateparse).drop("Location of Monitoring Station", axis=1).sort_values("Sampling Date")    
data12

,Stn Code,Sampling Date,State,City/Town/Village/Area,Agency,Type of Location,SO2,NO2,RSPM/PM10,SPM
200,345,2012-01-02,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,8,77,289,NaN
8,144,2012-01-02,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",8,82,162,NaN
208,345,2012-01-03,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,35,117,302,NaN
112,146,2012-01-03,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",30,113,283,NaN
224,345,2012-01-05,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,3,96,201,NaN
272,345,2012-01-11,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,6,108,666,NaN
176,146,2012-01-11,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",4,123,453,NaN
2,144,2012-01-14,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",7,99,296,NaN
194,345,2012-01-14,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,43,113,405,NaN
3,144,2012-01-15,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",8,101,169,NaN
195,345,2012-01-15,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,10,89,213,NaN
196,345,2012-01-16,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,15,71,218,NaN
4,144,2012-01-16,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,92,161,NaN
197,345,2012-01-19,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,21,98,378,NaN
198,345,2012-01-20,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,24,110,274,NaN
199,345,2012-01-21,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,29,85,265,NaN
102,146,2012-01-27,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",16,115,303,NaN
5,144,2012-01-27,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",7,114,208,NaN
103,146,2012-01-28,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",16,110,245,NaN
6,144,2012-01-28,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",15,104,216,NaN
7,144,2012-01-29,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",10,107,207,NaN
201,345,2012-02-02,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,17,96,454,NaN
209,345,2012-02-02,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,49,81,244,NaN
9,144,2012-02-02,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",14,93,247,NaN
113,146,2012-02-03,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",21,91,151,NaN
225,345,2012-02-05,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,6,94,194,NaN
128,146,2012-02-05,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",4,123,378,NaN
40,144,2012-02-06,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,82,343,NaN
56,144,2012-02-08,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,50,61,NaN
152,146,2012-02-08,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,57,142,NaN
...,...,...,...,...,...,...,...,...,...,...
183,146,2012-11-17,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",7,91,361,NaN
85,144,2012-11-17,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",15,109,257,NaN
86,144,2012-11-21,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",4,124,189,NaN
275,345,2012-11-21,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,12,117,450,NaN
87,144,2012-11-22,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",7,115,177,NaN
276,345,2012-11-22,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,19,130,486,NaN
277,345,2012-11-27,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,6,106,293,NaN
278,345,2012-11-28,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,3,121,296,NaN
279,345,2012-11-29,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,6,133,195,NaN
101,146,2012-12-01,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",12,83,312,NaN
147,146,2012-12-07,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,49,69,NaN
51,144,2012-12-07,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,71,37,NaN
259,345,2012-12-09,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,2,55,123,NaN
64,144,2012-12-09,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,34,63,NaN
281,345,2012-12-12,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,15,70,291,NaN
188,146,2012-12-12,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",4,91,193,NaN
189,146,2012-12-13,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",4,101,179,NaN
282,345,2012-12-13,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,7,81,164,NaN
91,144,2012-12-20,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,93,175,NaN
283,345,2012-12-20,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,3,71,269,NaN
92,144,2012-12-21,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,92,225,NaN
284,345,2012-12-21,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,3,99,405,NaN
93,144,2012-12-22,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",4,96,384,NaN
285,345,2012-12-22,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,5,116,488,NaN
94,144,2012-12-26,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,59,369,NaN
286,345,2012-12-26,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,3,86,423,NaN
95,144,2012-12-27,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",7,55,299,NaN
287,345,2012-12-27,Delhi,Delhi,National Environmental Engineering Research In...,Industrial Area,9,94,348,NaN
190,146,2012-12-29,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",7,95,387,NaN
191,146,2012-12-30,Delhi,Delhi,National Environmental Engineering Research In...,"Residential, Rural and other Areas",2,76,301,NaN

In [3]:
data12["DateMonth"]=data12["Sampling Date"].dt.to_period("M")

In [5]:
data12 = data12.groupby("DateMonth").mean().drop("SPM", axis=1)

In [6]:
data12

             Stn Code        SO2         NO2   RSPM/PM10
DateMonth
2012-01    240.095238  15.095238  101.142857  281.619048
2012-02    197.217391  15.608696   92.608696  243.956522
2012-03    207.800000   9.285714   84.228571  271.771429
2012-04    189.555556   5.074074   78.814815  185.555556
2012-05    208.960000   3.960000   78.280000  292.720000
2012-06    176.894737   3.157895   63.631579  297.157895
2012-07    237.307692   5.769231   64.423077  174.576923
2012-08    226.681818   7.272727   64.590909  125.409091
2012-09    206.538462   4.423077   64.000000  145.384615
2012-10    211.666667   7.047619  107.809524  301.952381
2012-11    217.727273   7.954545  106.272727  284.727273
2012-12    221.142857   4.714286   79.380952  262.095238