In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import datetime

%matplotlib notebook

import seaborn as sns

In [2]:
plt.style.use("seaborn-colorblind")

In [3]:
data2 = pd.read_csv("C:/Users/VARUN/Desktop/AirPollution/Dataset/cpcb_dly_aq_andhra_pradesh-2002.csv")[['Sampling Date', 'City/Town/Village/Area', 'SO2', 'NO2']]
data4 = pd.read_csv("C:/Users/VARUN/Desktop/AirPollution/Dataset/cpcb_dly_aq_andhra_pradesh-2004.csv")[['Sampling Date', 'City/Town/Village/Area', 'SO2', 'NO2']]
data6 = pd.read_csv("C:/Users/VARUN/Desktop/AirPollution/Dataset/cpcb_dly_aq_andhra_pradesh-2006.csv")[['Sampling Date', 'City/Town/Village/Area', 'SO2', 'NO2']]
data7 = pd.read_csv("C:/Users/VARUN/Desktop/AirPollution/Dataset/cpcb_dly_aq_andhra_pradesh-2007.csv")[['Sampling Date', 'City/Town/Village/Area', 'SO2', 'NO2']]
data9 = pd.read_csv("C:/Users/VARUN/Desktop/AirPollution/Dataset/cpcb_dly_aq_andhra_pradesh-2009.csv")[['Sampling Date', 'City/Town/Village/Area', 'SO2', 'NO2']]
data11 = pd.read_csv("C:/Users/VARUN/Desktop/AirPollution/Dataset/cpcb_dly_aq_andhra_pradesh-2011.csv")[['Sampling Date', 'City/Town/Village/Area', 'SO2', 'NO2']]
data14 = pd.read_csv("C:/Users/VARUN/Desktop/AirPollution/Dataset/cpcb_dly_aq_telangana-2014.csv")[['Sampling Date', 'City/Town/Village/Area', 'SO2', 'NO2']]

In [4]:
data = pd.concat([data4, data6, data7, data9, data11, data14], axis=0)
data = data.reset_index(drop=True)
data.head()

  Sampling Date City/Town/Village/Area   SO2    NO2
0      1/2/2004              Hyderabad  12.9   55.8
1      1/5/2004              Hyderabad  10.4   48.9
2      1/9/2004              Hyderabad   7.6   50.1
3     1/12/2004              Hyderabad   7.3   48.5
4      16-01-04              Hyderabad   6.8  110.3

In [5]:
for i in range(len(data)):
    if data['City/Town/Village/Area'][i] != 'Hyderabad':
        data.drop(i, inplace = True)

In [16]:
for i in range(len(data)):
    try:
        data['Sampling Date'][i] = time.mktime(datetime.datetime.strptime(data['Sampling Date'][i], "%d/%m/%Y").timetuple())
    except:
        pass

for i in range(len(data)):
    try:
        data['Sampling Date'][i] = time.mktime(datetime.datetime.strptime(data['Sampling Date'][i], "%d-%m-%y").timetuple())
    except:
        pass

C:\Users\VARUN\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
for i in range(len(data)):
    try:
        data['Sampling Date'][i] = time.mktime(datetime.datetime.strptime(data['Sampling Date'][i], "%m/%d/%Y").timetuple())
    except:
        pass
    
for i in range(len(data)):
    try:
        data['Sampling Date'][i] = time.mktime(datetime.datetime.strptime(data['Sampling Date'][i], "%d-%m-%y").timetuple())
    except:
        pass

In [12]:
data = data.reset_index(drop=True)

In [13]:
data

     Sampling Date   SO2    NO2
0      1.07557e+09  12.9   55.8
1      1.08335e+09  10.4   48.9
2      1.09398e+09   7.6   50.1
3      1.10184e+09   7.3   48.5
4      1.07419e+09   6.8  110.3
5      1.07445e+09   6.9  134.1
6       1.0748e+09   6.2   41.6
7      1.07514e+09   6.3   45.7
8       1.0754e+09   6.1   79.5
9      1.07817e+09   5.2   41.6
10     1.08611e+09   5.1   86.2
11     1.09406e+09   5.1   81.3
12     1.07661e+09   5.0   80.1
13     1.07687e+09  11.4   80.8
14     1.07722e+09   9.8   75.8
15     1.07747e+09  10.1   84.2
16     1.07782e+09   6.4   64.5
17     1.07307e+09   5.6   47.2
18     1.08352e+09   5.9   61.1
19     1.09415e+09   5.4   44.9
20     1.09942e+09   5.7   69.8
21     1.07929e+09   6.6   59.9
22     1.07963e+09   5.4   58.4
23     1.07989e+09   5.6   53.1
24     1.08024e+09   5.4   69.9
25      1.0805e+09   5.1   48.8
26     1.07583e+09   5.0   50.3
27     1.08629e+09   6.2   53.5
28     1.08888e+09   4.3   46.6
29     1.08179e+09   5.6   56.4
...            ...   ...    ...
4849   1.40476e+09   2.0   30.0
4850   1.41538e+09   2.0   36.0
4851   1.40787e+09   5.0    6.0
4852   1.40856e+09   5.0   24.0
4853   1.40882e+09   8.0   14.0
4854   1.40908e+09   3.0   21.0
4855   1.39188e+09   3.0   20.0
4856   1.39698e+09   3.0   17.0
4857    1.4102e+09   5.0   24.0
4858   1.41547e+09   3.0   15.0
4859   1.41072e+09   3.0   26.0
4860   1.41089e+09   8.0   31.0
4861   1.41124e+09   4.0   20.0
4862   1.41158e+09   2.0   23.0
4863   1.40502e+09   5.0   12.0
4864   1.41564e+09   7.0   11.0
4865   1.41582e+09   NaN    NaN
4866   1.41616e+09   4.0   19.0
4867   1.41634e+09   2.0   13.0
4868   1.41668e+09   3.0   20.0
4869   1.41685e+09   5.0   17.0
4870   1.41703e+09   4.0   21.0
4871   1.39456e+09   4.0   19.0
4872   1.39983e+09   3.0   15.0
4873   1.41305e+09   4.0   16.0
4874   1.41858e+09   5.0   20.0
4875   1.41884e+09   7.0   26.0
4876    1.4191e+09   6.0   21.0
4877   1.41927e+09  13.0   13.0
4878   1.41979e+09   5.0    9.0

[4879 rows x 3 columns]

In [18]:
data = data[['Sampling Date', 'SO2', 'NO2']]
data.head()

  Sampling Date   SO2    NO2
0   1.07557e+09  12.9   55.8
1   1.08335e+09  10.4   48.9
2   1.09398e+09   7.6   50.1
3   1.10184e+09   7.3   48.5
4   1.07419e+09   6.8  110.3

In [19]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

no2 = data[['Sampling Date', 'NO2']]
forecast_len = 30
x=np.array(no2.drop(['NO2'],1))
x=x[:-forecast_len]

y=np.array(no2['NO2'])
y=y[:-forecast_len]

sc = MinMaxScaler(feature_range=(0,1))
x = sc.fit_transform(x)

In [ ]:
x_train = []
y_train = []

for i in range(3,4800):
    x_train.append(x[i-3:i,0])
    y_train.append(x[i,0])
    
x=np.array(data.drop(['NO2'],1))
x=x[:-forecast_len]

y=np.array(data['NO2'])
y=y[:-forecast_len]

# x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

x_train,y_train = np.array(x_train),np.array(y_train)

x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))

In [ ]:
model = tf.keras.models.Sequential([
    tf.keras.layers.LSTM(128,return_sequences=True, input_shape = (x_train.shape[1],1)),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(512,return_sequences=True),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(256,return_sequences=True),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(512,return_sequences=True),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(256,return_sequences=True),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(512,return_sequences=True),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(256,return_sequences=True),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(512,return_sequences=True),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(256,return_sequences=True),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(512,return_sequences=True),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(256,return_sequences=True),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(1)
])
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])
model.summary()

In [ ]:
history = model.fit(x_train,y_train,epochs=3)#,batch_size=3)

predictions = model.predict(x_train)

#print(predictions)

In [ ]:
# plt.plot(range(len(x_train)), y_train, c='g')
# plt.plot(range(len(x_train)), predictions, c='r')
# plt.legend(['Green-Train', 'Red-Predictions'], loc='upper left')
# plt.show()

plt.plot(history.history['acc'])
plt.plot(history.history['loss'])
plt.title('Model')
plt.ylabel('Result')
plt.xlabel('Epochs')
plt.legend(['Accuracy', 'Loss'], loc='upper right')
plt.show()